<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../../indexNav.css">
   </head>
   <body>
      <nav class='navbar'>
         <% if(currentUser) { %>
            <form
               class=""
               action="/sessions?_method=DELETE"
               method="post"
            >
                  <input
                     type="submit"
                     name=""
                     value="Log Out"
                  >
            </form>
               <a class='navimg' href="/card"><img src="../../images/iconPhoto.jpg" alt=""></a>
               <a class='new' href="/users/new"><h1>Sign Up</h1></a>
               <a class='login' href="/users/new"><h1>Login</h1></a>

      </nav>
   </body>
</html>
