#blue {
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
   color: blue;
}
#white {
   font-weight: bolder;
   text-shadow: 1px 0 0 Black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
   color: white;
}
#red {
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
   color: red;
}
#black {
   color: black;
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
}
#green {
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
   color: green;
}
#gray {
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
   color: gray;
}
h1 {
   margin: 0;
   padding: 0;
   font-size: 1rem;
}
.title {
   margin-top: 2%;
}
.imageContainer {
   height: 19rem;
   text-align: center;
   transform: translateY(50%);
   font-size: 1rem;

}
.newForm {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   transform: translate(700px, 50px);
   color: black;
   font-weight: bolder;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
}
fieldset {
   display: flex;
   justify-content: space-around;
   width: 40%;
   background-color: rgb(0,0,0,.7);
}
textarea {
   width: 40%;
   white-space: pre-wrap;
}
.button {
   width: 10%;
   transform: translate(250px, -250px);
   height: 2rem;
   background-color: rgb(254, 230, 206);
   box-shadow: none;
   border-radius: 3px;
   border: 1px solid black;
   padding-top: .2%;
   padding-bottom: .2%;
   font-weight: normal;
   width: 180px;
   font-size: 16px;
}
.manaBox {
   width: 10%;
   display: flex;
   flex-direction: column;
}
.card-container {
   transform: translateY(-600px);
}
.return {
   position: absolute;
   transform: translate(950px, -950px);
   text-decoration: none;
   padding: 27px;
   padding-right: 24px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 1px solid black;
   border-radius: 3px;
   background-color: rgb(254, 230, 206);
   color: black;
   font-size: 16px;
   width: 127px;
   text-align: center;
}
.return:hover{
   font-weight: bolder;
}
.button:hover{
   font-weight: bolder;
}
