<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" type='text/css' href="../../showpage.css">
      <link rel="stylesheet" type='text/css' href="../../newPage.css">
      <meta charset="utf-8">
      <title>Create</title>
   </head>
   <body>
      <%- include('../partials/background.ejs') %>
      <%- include('../partials/nav.ejs')%>
      <form class='newForm' action="/card" method="post">
         <fieldset>
            <legend>Core info</legend>
         Card Name: <input type="text" name="name" value="">
         Image Link: <input type="text" name="img" value="">
         Card Type: <input type="text" name="type" value="">
         </fieldset>
         Abilities: <textarea resize='none' name="abilities" rows="8" cols="80"></textarea>
         <fieldset>
            <legend>Card Stats</legend>
            Power: <input type="text" name="power" value="">
            Toughness: <input type="text" name="toughness" value="">
         </fieldset>
         <fieldset class='manaBox'>
               <legend>Card Mana Cost</legend>
               <span id='blue'>Blue: </span><input type="text" name="color.Blue" value="">
               <span id='green'>Green: </span><input type="text" name="color.Green" value="">
               <span id='red'>Red: </span><input type="text" name="color.Red" value="">
               <span id='black'>Black: </span><input type="text" name="color.Black" value="">
               <span id='white'>White: </span><input type="text" name="color.White" value="">
               <span id='gray'>Colorless: </span><input type="text" name="color.Colorless" value="">
         </fieldset>
         <input class='button' type="submit" name="" value="Finish & Create">
      </form>
      <div class="card-container">
         <div class="card-background">
            <div class="card-frame">
               <div class="frame-header">
                  <h1 class='title'>Card Name</h1>
                  <h1 class='black mana'>Mana Cost</h1>
               </div>
                  <div class="imageContainer">
                     <img src="" alt="Card Image Goes Here">
                 </div>
                 <div class="frame-type-line">
                   <h1>Card Type (creature, artifact, dog, cat!)</h1>
                 </div>
                 <div class="frame-text-box">
                   <p>Description of abilities, be detailed!</p>
                 </div>
                 <div class="stats">
                    Creature Power/Creature Toughness
                 </div>
            </div>
         </div>
      </div>
      <a class='return' href="/card">Return</a>
   </body>
</html>
