<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="../../indexNav.css">
  </head>
  <body>
    <nav class='navbar'>
      <a class='navimg' href="/card"><img src="../../images/iconPhoto.jpg" alt=""></a>
    </nav>
    <div class="container">
      <h1>Log In</h1>
      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
         <br>
         <p>Dont have an account? <a href="/users/new">Sign Up</a> here!</p>
    </div>
  </body>
</html>
