<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="../../indexNav.css">
     <title>Create User</title>
  </head>
  <body>
    <nav class='navbar'>
      <a class='navimg' href="/card"><img src="../../images/iconPhoto.jpg" alt=""></a>
    </nav>
    <div class="container">
      <h1>Create New User Account</h1>
      <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
         <br>
         <p>Already Have an Account? <a href="/sessions/new">Login</a> here!</p>
    </div>
  </body>
</html>
